@import url('https://fonts.googleapis.com/css?family=Lato');

$green: #BAE2BE;
body {
  background-color: #F7F7F7;
  font-size: 16px;
  font-family: 'Lato';
}

.radio-label {
  margin-right: 0.5rem;
}


.date-divider {
  margin-left: 2px;
  margin-right: 2px;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.fieldset-title {
  font-size: 1.3rem;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid #E9E9EA 1.5px;
  color: #3C5F94;
}

.succes-container {
  background-color: $green;
  width: 60%;
  height: 80px;
  margin: 20px;
  padding: 0.8rem;
  border: solid darken(#F2F2F2, 15%) 2px;
  border-radius: 3px;

  h1 {
    font-size: 1.2rem;
    color: darken($green, 40%);
    margin-top: 0.3rem;
  }
}
.required-field{
  &:after{
    content: '*';
    color: red;
    margin-left: 2px;
  }
}
